@using Entities.Dto_s
@model List<BlogWithCategoriesDto>
@{
    Layout = "_Layout";
}

        <table class="table">
            <thead>
            <tr>
                
                <th scope="col">Category Name</th>
                <th scope="col">Title</th>
                <th scope="col">Detail</th>
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model){
            <tr>

                    
                   
                    <th scope="row" style="color:red">
                        @item.CategoryName
                    </th>
                    <th scope="row" style="color:red">
                        @item.Title
                    </th>
                    
                    
                    <th scope="row" style="color:red">
                    @item.Detail  
                    </th>


            </tr>}
            </tbody>
        </table>




